<div class="wrapper">
  <div class="container">
    <!-- <div class="clip-size"> -->
    <div class="row" *ngFor="let row of data; let i = index">
      <div
        class="cell"
        id="Node-r{{ i }}-c{{ j }}"
        (click)="saveRowCol($event, item)"
        [ngClass]="{
          visited: item.isVisited === true,
          start: item.isStart === true,
          finish: item.isEnd === true
        }"
        *ngFor="let item of row; let j = index"
      >
        {{ item[i] }}
      </div>
    </div>
    <!-- </div> -->
  </div>
</div>
