<mat-toolbar class="toolbar">
  <div class="title-toolbar">
    PathFinder
  </div>

  <div class="righty">
    <button class="menu-toolbar" mat-button [matMenuTriggerFor]="menu1">
      Algorithm
      <span class="material-icons">
        expand_more
      </span>
    </button>
    <mat-menu #menu1="matMenu">
      <button (click)="selectBFS()" mat-menu-item>BFS</button>
      <button (click)="selectDijkstra()" mat-menu-item>Dijkstra's</button>
      <button (click)="selectDDA()" mat-menu-item>DDA Line Drawing</button>
    </mat-menu>

    <button class="menu-toolbar" mat-button [matMenuTriggerFor]="menu2">
      Mazes & Patterns
      <span class="material-icons">
        expand_more
      </span>
    </button>
    <mat-menu #menu2="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>

    <button class="btn-toolbar" mat-button>Add Bomb</button>
    <button class="btn-toolbar" (click)="runAlgorithm()" mat-button>
      Visualize Algorithm
    </button>
    <button class="btn-toolbar" (click)="clearBoard()" mat-button>
      Clear Board
    </button>
    <button class="btn-toolbar" mat-button>Clear Walls & Weights</button>
    <button class="btn-toolbar" mat-button>Clear Path</button>

    <button class="menu-toolbar" mat-button [matMenuTriggerFor]="menu3">
      Speed
      <span class="material-icons">
        expand_more
      </span>
    </button>
    <mat-menu #menu3="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
  </div>
</mat-toolbar>
