$primary-color : #05386B;
$secondary-color : #5CDB95;
$text-color: #EDF5e1;

.toolbar {
    background-color: $primary-color;
    color: $text-color;
}

.righty {
    display: inline-block;
    right: 20px;
    margin-left: auto;
}

.btn-toolbar {
    margin-left: 20px;
}

button:hover {
    background-color: $secondary-color;
}

.menu-toolbar {
    margin-left: 20px;
}